---
---
@charset "utf-8";

// Our variables
$base-font-family: sans-serif, Helvetica, Arial;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.3;

$spacing-unit:     30px;

$text-color:       #f2f5f4;
$background-color: #161618;
$brand-color:      #75c0c7;
$pr0-color:        #ee4d2e;
$pr0-header-background: rgba(0, 0, 0, 0.8);
$pr0-headlink:		#f5f7f6;
$article-background: #0a0a0b;
$article-background-links: #0e0e0f;
$hightlight-background: #222;

$footer-background: $article-background-links;

$grey-color:       #666;
$grey-color-light: rgba(0, 0, 0, 0);/* lighten($grey-color, 40%); */
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$post-padding:      20px;
$post-padding-negative: -20px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
	font-weight: normal;
}

.icon--pr0gramm > img {
	width: 16px;
	height: 16px;
}

article h2 {
	/* text-transform: uppercase; */
}
article h2 > small {
	text-transform: none;
	color: $grey-color;
}

.site-title {
	text-transform: uppercase;
}

.site-header a {
	color: $pr0-headlink;
}

.pr0-button {
	font-weight: normal;
	display: inline-block;
	text-align: center;
	padding: 8px 8px 6px;
	margin: 0px;
	color: $text-color;
	cursor: pointer;
	background-color: $pr0-color;
	font-size: 12px;
	&,
	&:visited {
		color: $text-color;
	}
	&:hover {
		outline: medium none;
		text-shadow: none;
		color: #555;
		background-color: #F5F7F6;
	}
}


$pr0-schwuchtel: #ffffff;
$pr0-altschwuchtel: #5bb91c;
$pr0-mittelaltschwuchtel: #addc8d;
$pr0-neuschwuchtel: #e108e9;
$pr0-admin: #ff9900;
$pr0-gebannt: #444444;
$pr0-moderator: #008fff;
$pr0-altmoderator: #7fc7ff;
$pr0-ftb: #6c432b;
$pr0-legende: #1cb992;
$pr0-wichtel: #1cb992;
$pr0-spender: #1cb992;
$pr0-communityhelfer: #c52b2f;
$pr0-nutzerbot: #10366f;
$pr0-systembot: #ffc166;
$pr0-alt-helfer: #ea9fa1;

$badge-color: #212121;

.user:after { content: "●"; margin-left: 0.4em; }
.um0:after { color: $pr0-schwuchtel; }
.um1:after { color: $pr0-neuschwuchtel; }
.um2:after { color: $pr0-altschwuchtel; }
.um3:after { color: $pr0-admin; }
.um4:after { color: $pr0-gebannt; }
.um5:after { color: $pr0-moderator; }
.um6:after { color: $pr0-ftb; }
.um7:after { color: $pr0-legende; }
.um8:after { color: $pr0-wichtel; }
.um9:after { color: $pr0-spender; }
.um10:after { color: $pr0-mittelaltschwuchtel; }
.um11:after { color: $pr0-altmoderator; }
.um12:after { color: $pr0-communityhelfer; }
.um13:after { color: $pr0-nutzerbot; }
.um14:after { color: $pr0-systembot; }
.um15:after { color: $pr0-alt-helfer; }

.badge {
	color: #FFF;
	padding: 1px 6px;
	margin-left: 5px;
	vertical-align: baseline;
	text-transform: lowercase;
	text-align: center;
	font-weight: bold;
	border-radius: 0.25em;
	font-size: 12px;
	background-color: $badge-color;
}

article {
	background-color: $article-background;
	padding: $post-padding;
}

article .links > a {
	margin-right: 10px;
}

.color-preview {
    font-size: 12px;
    font-family: monospace;
}

article li {
	list-style: none;
	text-indent: -1.5em;
	padding-left: 1.5em;

	&:before {
		content: '–  ';
	}
}

.list-horizontal > li {
	display: inline;
	margin: 2px;
	list-style: none;

	&:before {
		content: '';
	}
}

.post-list > li {
	margin-bottom: 10px;
}
.post-list > li .links {
	margin-left: $post-padding-negative;
	margin-right: $post-padding-negative;
	margin-bottom: $post-padding-negative;
	padding: 10px 0 10px 0;
	padding-left: $post-padding;
	padding-right: $post-padding;
	background-color: $article-background-links;
}

.color-table {
	width: 100%;
	border-collapse: collapse;

	& tr > td:first-child { text-align: right; }
	& tr > td:nth-child(2) { text-align: justify; }
	& td {
		border-bottom: 1px solid #161618;
		padding: 1px 1px 2px 4px
	}
}

.herzlol {
	color: $pr0-color;
}

.highlight {
	background: $hightlight-background;
}

ul.no-list-bullets {
	list-style-type: none;
}

section dl {
	dt { margin-bottom: 5px; }
	dd {
		border-bottom: 1px solid #252525;
		margin-bottom: 10px;
	}
}
section.badges {
	dl.badge-list dt {
		display: block;
	}
}

.team-rot { color: #c52b2f }
.team-blau { color: #337fd2 }
