root = true

[*]
insert_final_newline = true
end_of_line = lf
charset = utf-8

[*.{js,ts,json,html,css,scss}]
indent_style = tab
tab_width = 4
indent_size = 4

[eckdaten.html]
indent_style = space
indent_size = 2
