---
layout: default
title: Eckdaten
permalink: /eckdaten/
user_titles:
  -
    name: Gebannt
    css: um4
    color: 444444
  -
    name: Fliesentisch
    css: um6
    color: 6c432b
  -
    name: Neuschwuchtel
    css: um1
    color: e108e9
  -
    name: Schwuchtel
    css: um0
    color: ffffff
  -
    name: Edler Spender
    css: um9
    color: 1cb992
  -
    name: Altschwuchtel
    css: um2
    color: 5bb91c
  -
    name: Mittelaltschwuchtel
    css: um10
    color: addc8d
  -
    name: Wichtel
    css: um8
    color: 1cb992
  -
    name: Moderator
    css: um5
    color: 008fff
  -
    name: Alt-Moderator
    css: um11
    color: 7fc7ff
  -
    name: Administrator
    css: um3
    color: ff9900
  -
    name: System-Bot
    css: um14
    color: ffc166
  -
    name: Nutzer-Bot
    css: um13
    color: 10366f
  -
    name: Lebende Legende
    css: um7
    color: 1cb992
  -
    name: Community-Helfer
    css: um12
    color: c52b2f
  -
    name: Alt-Helfer
    css: um15
    color: ea9fa1

pr0gramm_colors:
  -
    name: Richtiges Grau
    color: 161618
  -
    name: pr0gramm-Orange
    color: ee4d2e
  -
    name: pr0gramm-Logo-Orange
    color: d23c22
  -
    name: "Standard-Schriftfarbe"
    color: f2f5f4
  -
    name: "Standard-Schriftfarbe (ausgegraut)"
    color: 888888
  -
    name: Linkfarbe
    color: 75c0c7
  -
    name: "\"IRGENDWAS DOOFES IST PASSIERT\"-Farbe"
    color: fc8833
  -
    name: "Alternative Hintergrundfarbe (cha0s-Grau)"
    color: 212121
  -
    name: Gelb vom pr0mium-Post
    color: f7c516
  -
    name: SFW-Grün
    color: 5cb85c
  -
    name: NSFW-Orange
    color: f0ad4e
  -
    name: NSFL-Rot
    color: d9534f
  -
    name: pr0mium-Auswahlteile
    color: 222222
  -
    name: "Ehemalige Hintergrundfarbe der Kommentare"
    color: 2a2e31
  -
    name: "Altes pr0gramm <3"
    color: ff0082

epische_farben:
  -
    name: "bewährtes Orange"
    color: ee4d2e
  -
    name: "angenehmes Grün"
    color: 1db992
  -
    name: "Olivgrün des Friedens"
    color: bfbc06
  -
    name: "mega episches Blau"
    color: 008fff
  -
    name: "altes Pink"
    color: ff0082

farbenkrieg_2:
  -
    name: "Team Rotschwuchteln"
    color: c52b2f
  -
    name: "Team Blauschwuchteln"
    color: 337fd2
  -
    name: "Team Blauschwuchteln, alternativ"
    color: 444444

badges:
  - keyb0ard: "//pr0gramm.com/media/badges/keyboard.png"
  - wichtel: "//pr0gramm.com/media/badges/secret-santa-2014.png"
  - hurensohn: "//pr0gramm.com/media/badges/bad-secret-santa-2014.png"
  - years: "//pr0gramm.com/media/badges/years.png"
  - comments: "//pr0gramm.com/media/badges/comments.png"
  - tags: "//pr0gramm.com/media/badges/tags.svg"
  - fag: "//pr0gramm.com/media/badges/social-share.png"
  - benitrat0r_lose: "//pr0gramm.com/media/badges/benitrat0r-lose.png"
  - benitrat0r_win: "//pr0gramm.com/media/badges/benitrat0r-win.png"
  - contract: "//pr0gramm.com/media/badges/contract.png"
  - crumbled_contract: "//pr0gramm.com/media/badges/crumbled-contract.png"
  - coin: "//pr0gramm.com/media/badges/pr0-coin.png"
  - pr0mart: "//pr0gramm.com/media/badges/shopping-cart.png"
  - connect4_red: "//pr0gramm.com/media/badges/connect4-red.png"
  - connect4_blue: "//pr0gramm.com/media/badges/connect4-blue.png"
  - deleted_upload: "//pr0gramm.com/media/badges/itemdelete.svg"
  - deleted_comments: "//pr0gramm.com/media/badges/commentdelete.svg"
  - krebs_spende: "//pr0gramm.com/media/badges/krebs-donation.png"
  - artikel_13: "//pr0gramm.com/media/badges/art13.png"
  - benitrat0r_2019_win: "//pr0gramm.com/media/badges/benitrator-win.png"
  - benitrat0r_2019_lose: "//pr0gramm.com/media/badges/benitrator-lose.png"
  - krebs_spende_2019: "//pr0gramm.com/media/badges/krebs19-donation.png"
  - reinlad: "//pr0gramm.com/media/badges/paint-silver.png"
  - profi_reinlad: "//pr0gramm.com/media/badges/paint-gold.png"
  - good_noodle: "//pr0gramm.com/media/badges/good-noodle.png"
  - benitrator20_win: "//pr0gramm.com/media/badges/benitrator20-win.png"
  - benitrator20_lose: "//pr0gramm.com/media/badges/benitrator20-lose.png"
  - pr0rona_mask: "//pr0gramm.com/media/badges/pr0rona-mask.png"
  - pr0rona_globuli: "//pr0gramm.com/media/badges/pr0rona-globuli.png"
  - pr0rona_thermometer: "//pr0gramm.com/media/badges/pr0rona-thermometer.png"
  - pr0rona_beer: "//pr0gramm.com/media/badges/pr0rona-beer.png"
  - pr0rona_toiletpaper: "//pr0gramm.com/media/badges/pr0rona-toiletpaper.png"
  - backpack: "//pr0gramm.com/media/badges/backpack.png"
  - casino_winner: "//pr0gramm.com/media/badges/casino_winner.png"
  - casino_loser: "//pr0gramm.com/media/badges/casino_loser.png"
  - casino_jackpot: "//pr0gramm.com/media/badges/casino_jackpot.png"
  - casino_king: "//pr0gramm.com/media/badges/casino_king.png"
  - casino_roulette: "//pr0gramm.com/media/badges/casino_roulette.png"
  - casino_gewinnertyp: "//pr0gramm.com/media/badges/casino_gewinnertyp.png"
  - casino_hooker: "//pr0gramm.com/media/badges/casino_hooker.png"
  - donation_2021: "//pr0gramm.com/media/badges/donation_2021.png"
  - stonks_gain: "//pr0gramm.com/media/badges/stonks-gain.png"
  - stonks_crash: "//pr0gramm.com/media/badges/stonks-crash.png"
  - stonks_diamond_paws: "//pr0gramm.com/media/badges/stonks-diamond-paws.png"
  - stonks_jrmy: "//pr0gramm.com/media/badges/stonks-jrmy.png"

favicon: "//pr0gramm.com/media/pr0gramm-favicon.png"
favicon_old: "/userscripts/image/pr0gramm-favicon-old.ico"
dickbutt_highres: "/userscripts/image/dickbutt-highres.png"
svg: "//pr0gramm.com/media/pr0gramm.svg"
pict0gramm: "//pr0gramm.com/media/fonts/pict0gramm.ttf"
torrent: "//pr0gramm.com/new/776656"
header_image: "//pr0gramm.com/media/pr0gramm.png"
source_code: "//github.com/holzmaster/userscripts"
max_image_width: 1280px
max_image_width_source: "//pr0gramm.com/new/816940:comment4467489"
comment_font_size: 14px
---
<header class="post-header">
	<h1 class="post-title">Eckdaten für Textposts</h1>
</header>
<ul class="post-list">
<li>
	<article>
		<h2>Farben</h2>
		{% include color-table.html colors=page.pr0gramm_colors %}
	</article>
</li>

<li>
	<article>
		<h2>Farb-Themes</h2>
		{% include color-table.html colors=page.epische_farben %}
	</article>
</li>

<li>
	<article>
		<h2>Farbenkrieg 2.0</h2>
		{% include color-table.html colors=page.farbenkrieg_2 %}
	</article>
</li>

<li>
	<article>
		<h2>Benutzertitel</h2>
		{% include color-table.html colors=page.user_titles %}
	</article>
</li>

<li>
	<article>
		<h2>Schriften und Zeichen</h2>
		<ul>
			<li>Standard-Schriftarten: <code>Sans-Serif</code> (z. B. <code>Helvetica</code> oder <code>Bitstream Vera Sans</code>)</li>
			<li>Schriftart des pr0gramm-Logos: <a href="https://www.ffonts.net/Casper-Bold.font"><code>Casper Bold</code></a></li>
			<li>Schriftgröße Kommentare: <code>{{ page.comment_font_size }}</code></li>
			<li>Benutzer-Punkt zum Kopieren: <code>●</code></li>
			<li><a href="{{ page.pict0gramm }}">Font mit pr0gramm-Icons</a> aka pict0gramm als ttf</li>
		</ul>
	</article>
</li>

<li>
	<article>
		<h2>Badges</h2>
		<ul class="list-horizontal">
			{% for badge in page.badges %}{% for lol in badge %}
			<li><a href="{{ lol[1] }}"><img style="max-width: 30px; min-width: 30px;" src="{{ lol[1] }}"></a></li>
			{% endfor %}{% endfor %}
		</ul>
	</article>
</li>

<li>
	<article>
		<h2>Bilder und so</h2>
		<ul>
			<li><a href="{{ page.favicon }}">Favicon</a> als png</li>
			<li><a href="{{ page.header_image }}">Header-Bild</a> als png</li>
			<li><a href="{{ page.svg }}">pr0gramm-Logo</a> als svg</li>
			<li><a href="{{ page.favicon_old }}">Favicon des alten pr0gramms</a> als ico mit mehreren Layern</li>
			<li><a href="{{ page.dickbutt_highres }}">Dickbutt</a> als transparentes png in hoher Auflösung</li>
			<li>Maximale Bildbreite, ab der JPEG-Komprimierung eintritt (Falsches Grau): <a href="{{ page.max_image_width_source }}"><code>{{ page.max_image_width }}</code></a></li>
			<li>Taste für Screenshots: <kbd>Druck</kbd> bzw. <kbd>Print</kbd></li>
		</ul>
	</article>
</li>
<li>
	<article>
		<h2>Sonstiges</h2>
		<ul>
			<li>IRC-Channel: <code>#pr0gramm.com</code> im Quakenet (kein NSFW/NSFL dort posten)</li>
			<li><a href="{{ page.torrent }}">Post mit Torrent-Backup</a>. Circa <code>498 GiB</code>, Stand <time datetime="2015-05-2 00:12">2. Mai 2015 um 00:12 Uhr</time></li>
			<li>Gewicht des Stahlofens: <code>80 kg</code></li>
			<li><code>¯\_(ツ)_/¯</code></li>
			<li>Hässliche Unicode-Checkmarks: <code>✓</code>, <code>✔</code>, <code>☑</code></li>
			<li>Admin-approved-Schreibweise: <code>pr0gramm</code> oder <code>PR0GRAMM</code> (alles andere ist falsch)</li>
			<li><a href="{{ page.source_code }}">Quelltext dieser Webseite</a></li>
		</ul>
	</article>
</li>
</ul>
